<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/login.css">
    </head>
    <body>
        <div class="main">
            <div class="login-container">
              <div class="rectangle-3"></div>
          
              <!-- <div class="meeting-anywhere-anytime-within-few-clicks-of-buttons">
                Primitive Rhodes Island Terminal Service
              </div> -->
          
              <div class="frame-13">
                <img class="logo" src="../assets/PRTS.png"></div>
              </div>
          
              <!-- <div class="welcome-back-please-log-in-to-your-account">
                Welcome back! Please log in to your account
              </div> -->
          
              <div class="login-form">
                <div class="username-form">
                  <label class="label-input" for="username">Username</label><input class="input" typet="text" id="username">
                </div>
          
                <div class="password-form">
                  <label class="label-input" for="password">Password<input class="input" type="password" id="password"></label>
          
                </div>
                <div class="frame-button">
                  <button id="button-login">Login</button>
          
                  <button id="button-signup">Sign Up</button>
                </div>
                
              </div>
            
          </div>
          <script type="text/javascript" src="../js/login.js"></script>
    </body>
</html>