<html>
    <head>

    </head>
    <body>
        <div class="main">
            <div class="signup-form">
                <label for="username">Username
                    <input type="text" id="username">
                </label>
                <label for="password">Password
                    <input type="password" id="password">
                </label>
                <label for="re-password">Confirm Password
                    <input type="password" id="re-password">
                </label>
            </div>
            <div class="submit-button">
                <button id="signup-button">Sign up</button>
            </div>
        </div>
        <script type="text/javascript" src="../js/signup.js"></script>
    </body>
</html>